<div class="resources grid grid-2col">
                <div class="resource flex-group-center">
                    <label for="data.attributes.job.main" class="resource-label">{{localize "FFRPG4E.class.mainJob"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                      <input type="text" name="data.attributes.job.main" value="{{data.attributes.job.main}}"/>
                    </div>
                    <label for="data.attributes.job.secondary" class="resource-label">{{localize "FFRPG4E.class.secondaryJob"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                      <input type="text" name="data.attributes.job.secondary" value="{{data.attributes.job.secondary}}"/>
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label for="data.attributes.job.hpMult" class="resource-label">{{localize "FFRPG4E.class.hpMult"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                      <input type="text" name="data.attributes.job.hpMult" value="{{data.attributes.job.hpMult}}" data-dtype="Number"/>
                    </div>
                    <label for="data.attributes.job.mpMult" class="resource-label">{{localize "FFRPG4E.class.mpMult"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                      <input type="text" name="data.attributes.job.mpMult" value="{{data.attributes.job.mpMult}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>