<div>{{localize "FFRPG4E.tabs.skills"}}: {{data.attributes.skillPoints.totalSpent}}/{{data.attributes.skillPoints.budget}}</div>
          
            <div class = "grid grid-4col">
            {{#each data.skills as |list element|}}
            <div class ="flexcol"><div class="resource-label flex-group-center">
            {{#if_eq element 'earth'}}
            {{localize "FFRPG4E.stats.earth"}}: {{../data.attributes.skillPoints.earthSpent}}/{{../data.attributes.skillPoints.earthBudget}}
            {{/if_eq}}
            {{#if_eq element 'air'}}
            {{localize "FFRPG4E.stats.air"}}: {{../data.attributes.skillPoints.airSpent}}/{{../data.attributes.skillPoints.airBudget}}
            {{/if_eq}}
            {{#if_eq element 'fire'}}
            {{localize "FFRPG4E.stats.fire"}}: {{../data.attributes.skillPoints.fireSpent}}/{{../data.attributes.skillPoints.fireBudget}}
            {{/if_eq}}
            {{#if_eq element 'water'}}
            {{localize "FFRPG4E.stats.water"}}: {{../data.attributes.skillPoints.waterSpent}}/{{../data.attributes.skillPoints.waterBudget}}
            {{/if_eq}}
          </div>
            {{#each list as |value skill|}}

            <div class = "flexcol flex-group-center flex-between">
              <label for="data.skills.{{element}}.{{skill}}" class="resource-label rollable" data-roll="{{value}}d100kh1+@abilities.{{element}}.level" data-label="{{skill}}">{{localize (concat "FFRPG4E.skill." skill)}}</label>
              <input type="text" name="data.skills.{{element}}.{{skill}}" value="{{value}}" data-dtype="Number" min ="1"/>
            </div>
            {{/each}}
            </div>
            {{/each}}
          </div>